    <%= live_component @socket, MyAwesomeAppWeb.Components.PageTitleLive, title: "Alpine Examples" %>

    <!--DropDown-->
    <%= live_component @socket, MyAwesomeAppWeb.Pages.AlpineExamplesLive.DropDownComponent %>
    <!--Modal-->
    <%= live_component @socket, MyAwesomeAppWeb.Pages.AlpineExamplesLive.ModalComponent %>
    <!--Drag and Drop File Upload-->
    <%= live_component @socket, MyAwesomeAppWeb.Pages.AlpineExamplesLive.DragAndDropComponent %>
