<%= live_component @socket, MyAwesomeAppWeb.Components.TableLive.ModalComponent,
      id: "table-filter",
      columns: @columns,
      modal_open: @modal_open %>

<%= live_component @socket, MyAwesomeAppWeb.Components.TableLive.PaginationComponent,
      id: "pagination",
      options: @options %>

<%= live_component @socket, MyAwesomeAppWeb.Components.TableLive.TableComponent,
      claims: @claims,
      columns: @columns,
      options: @options %>
