<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nothing to see here</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="inset-x-0 pb-2 sm:pb-5 sm:mt-32 mt-12">
        <div class="max-w-5xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="">
                <svg class="h-1/4 w-1/4 mx-auto text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.172 16.172a4 4 0 015.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>
            <div class="mx-6 my-12 text-6xl text-center text-gray-500">
                404
            </div>
            <div class="mx-6 my-12 text-center">
                <p class="text-gray-500">The Page you are looking for doesn't exist or an other error occurred.</p>
                <p class="text-gray-500">Go back. or click
                    <%=
                        link "Dashboard",
                        to: "/",
                        class: "inline py-2 font-medium text-indigo-500 hover:text-indigo-700 hover:underline focus:outline-none sm:text-sm"
                    %>
                    to navigate to the home page.</p>
            </div>
        </div>
    </div>
  </body>
</html>
