<div>
  <%= live_component @socket, MyAwesomeAppWeb.Components.Table.Index,
        claims: @claims,
        columns: @columns,
        options: @options,
        max_page: @max_page,
        modal_open: @modal_open %>
</div>
